.loginPage {
  width: 900px;
  height: 600px;
  margin: auto;
  margin-top: 40px;
  position: relative;
}

img {
  position: absolute;
  top: 60px;
  left: 50px;
}

.phrase {
  font-size: 30px;
  margin-bottom: 40px;
}

.phrase p {
  margin: 0;
  font-weight: bold;
}

.loginBox {
  display: inline-block;
  position: absolute;
  text-align: center;
  top: 200px;
  right: 50px;
}

.login p {
  font-size: small;
}

.login input {
  width: 180px;
  height: 20px;
  background-color: #dbdbdb;
  border-radius: 5px;
  border: none;
  padding: 5px;
  margin-bottom: 5px;
}

input::placeholder {
  text-align: center;
}

.login button {
  width: 200px;
  height: 25px;
  margin-top: 5px;
  border-radius: 5px;
  border: none;
  background-color: rgb(36, 206, 36);
}

@media screen and (max-width: 992px) {
  .loginPage {
    width: 100%;
  }
  .loginPage img {
    display: none;
  }
  .loginBox {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
/* "현재 브라우저의 폭이 992px 이하일 경우에 
안에 있는 class를 적용 */
