.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  background-color: rgb(176, 216, 176);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
img {
  position: absolute;
  top: 100px;
  left: 200px;
}
.phrase {
  display: inline-block;
  position: absolute;
  top: 220px;
  right: 380px;
  font-size: 30px;
}
.phrase p {
  margin: 0;
  font-weight: bold;
}
.login {
  display: inline-block;
  position: absolute;
  top: 350px;
  right: 350px;
}
.login p {
  font-size: small;
}
.login input {
  width: 180px;
  height: 20px;
  background-color: #dbdbdb;
  border-radius: 5px;
  border: none;
  padding: 5px;
  margin-bottom: 5px;
}
input::placeholder {
  text-align: center;
}
.login button {
  width: 200px;
  height: 25px;
  margin-top: 5px;
  border-radius: 5px;
  border: none;
  background-color: rgb(36, 206, 36);
}
