.todoItem {
  width: 300px;
  height: 50px;
  border: 1px solid rgb(176, 216, 176);
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkbox {
  width: 20px;
}

.modify {
  margin-right: 5px;
}
