.loginPage {
  width: 900px;
  height: 600px;
  margin: auto;
  margin-top: 40px;
  position: relative;
}

img {
  position: absolute;
  top: 60px;
  left: 50px;
}

.phrase {
  display: inline-block;
  position: absolute;
  top: 190px;
  right: 103px;
  font-size: 30px;
}

.phrase p {
  margin: 0;
  font-weight: bold;
}

.login {
  display: inline-block;
  position: absolute;
  top: 320px;
  right: 50px;
}

.login p {
  font-size: small;
}

.login input {
  width: 180px;
  height: 20px;
  background-color: #dbdbdb;
  border-radius: 5px;
  border: none;
  padding: 5px;
  margin-bottom: 5px;
}

input::placeholder {
  text-align: center;
}

.login button {
  width: 200px;
  height: 25px;
  margin-top: 5px;
  border-radius: 5px;
  border: none;
  background-color: rgb(36, 206, 36);
}

@media screen and (max-width: 768px) {
  .loginPage {
    font-size: 30px;
  }
}
/* "현재 브라우저의 폭이 768px 이하일 경우에 
안에 있는 class를 적용 */
